.cursor-pointer
{
	cursor: pointer;
}

.center-content
{
	text-align: center;
}

.no-wrap
{
	white-space: nowrap;
}

.hidden, .t12-hidden, .display-hidden
{
	display: none !important;
}

.highlight-text-blue-dark 
{
	color: #67b3ec;
}

.highlight-text-blue-bright 
{
	color: #a9f3ec;
}

.highlight-text-red
{
	color: #e77d7d;
}

.highlight-text-gold
{
	color: #c6a600;
}

.para-h1
{
	font-size: 2em;
	font-weight: bold;
	margin-block: 0.67em;
}

.para-h2
{
	font-size: 1.5em;
	font-weight: bold;
	margin-block: 0.67em;
}

.para-h3
{
	font-size: 1.17em;
	font-weight: bold;
	margin-block: 0.67em;
}

.para-h4
{
	font-size: 1em;
	font-weight: bold;
	margin-block: 0.67em;
}

.para-h5
{
	font-size: 0.83em;
	font-weight: bold;
	margin-block: 0.67em;
}

.para-h6
{
	font-size: 0.67em;
	font-weight: bold;
	margin-block: 0.67em;
}
