.name
{
	display: inline-block;
	width: fit-content;
	margin: 2px;
	padding: 2px;
	color: #efefef;
	font-weight: bold;
}

.emblems-container
{
	display: inline-block;
	width: fit-content;
	margin: 3px;
	padding: 3px;
}

.emblem
{
	display: inline-block;
	width: fit-content;
	/* max-width: 80%; */
	vertical-align: middle;
}

.emblem > span
{
	vertical-align: middle;
}

.emblem-text
{
	margin: 3px;
	padding: 3px;
	color: #d6d6d6;
	background-color: #0d375d;
	border: 2px solid #94a9ad;
	border-radius: 8px;
	user-select: none;
	white-space: normal;
}

.emblem-text.selected
{
	color: #0d375d;
	background-color: #d6d6d6;
}

.emblem-icon
{
	margin: 0px;
	padding: 1px;
	user-select: none;
}

.center-content .emblem-icon
{
	margin: 2px;
}

.emblem-canvas
{
	width: max-content;
}

.summon-skill
{
	display: inline-block;
	width: fit-content;
	margin: 3px;
	padding: 3px;
	color: #d6d6d6;
	background-color: #301050;
	border: 2px solid #94a9ad;
	border-radius: 8px;
	user-select: none;
}

.summon-tactic-name
{
	text-align: justify;
	align-items: justify;
	justify-content: justify;
	display: block;
	color: #dddddd;
	/* font-size: larger; */
	font-weight: bold;
	width: fit-content;
	margin: 2px;
	padding: 2px;
}

.trait, .summon-tactic-description
{
	text-align: justify;
	align-items: justify;
	justify-content: justify;
	display: inline-block;
	color: #cccccc;
	width: fit-content;
	margin: 2px;
	padding: 2px;
}

.summon-skill-container
{
	display: block;
	margin: auto;
	/* margin-bottom: 0px; */
	padding-bottom: 0px;
}
